spring:
  application:
    name: loan-manager
  datasource:
    url: jdbc:postgresql://localhost:15433/loan-manager
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver
    hikari:
      schema: public
    jpa:
      show-sql: true
      hibernate:
        ddl-auto: none
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect


